[Unit]
Description=set rtc alarm
Before=shutdown.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/local/bin/setalarm

[Install]
WantedBy=shutdown.target

