[Unit]
Description=wait until getting epg

[Service]
Type=oneshot
User=root
ExecStart=/usr/local/bin/waitepg
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

